#### Milestone 1 MySQL Code Samples

In [4]:
HOST = "10.25.208.3"
USER = "root"
PW="cs327e!"
DB="final_project"

In [5]:
import mysql.connector

def connect():
    connection = mysql.connector.connect(
    host=HOST,
    user=USER,
    password=PW,
    database=DB,
    autocommit=False)
    
    return connection

##### 1. Test connection

In [6]:
import mysql.connector

connection = connect()

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f77ef4ded40>

##### 2. Create the table (and drop it if it already exists)

In [10]:
import mysql.connector

connection = connect()
print(connection)

drop = 'DROP TABLE IF EXISTS person'

create = '''CREATE TABLE person(
    id MEDIUMINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL, 
    address VARCHAR(41) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL, 
    state CHAR(2)NOT NULL, 
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(12) NOT NULL,
    phone_2 CHAR(12)NOT NULL,
    email VARCHAR(44) NOT NULL,
    web VARCHAR(52) NOT NULL, 
    PRIMARY KEY  (id)
) '''

print(drop)
print(create)

try:
    cursor = connection.cursor()
    cursor.execute(drop)
    print('Dropped person table')
    
    cursor = connection.cursor()
    cursor.execute(create)
    print('Created person table')
except Exception as e:
    print("Error occurred while creating person table:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f77ef4ac910>
DROP TABLE IF EXISTS person
CREATE TABLE person(
    id MEDIUMINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL,
    address VARCHAR(41) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL,
    state CHAR(2)NOT NULL,
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(12) NOT NULL,
    phone_2 CHAR(12)NOT NULL,
    email VARCHAR(44) NOT NULL,
    web VARCHAR(52) NOT NULL,
    PRIMARY KEY  (id)
)
Dropped person table
Created person table

##### 3. insert records into table

In [12]:
import mysql.connector

connection = connect()
print(connection)

sql = "INSERT INTO person (first_name, last_name, company, address, city, county, state, zip, phone_1, phone_2, email, web)\
 	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
rec1 = ("James","Butt","Benton, John B Jr","6649 N Blue Gum St",\
	   "New Orleans","Orleans","LA","70116","504-621-8927","504-845-1427","jbutt@gmail.com","http://www.bentonjohnbjr.com")
rec2 = ("Josephine","Darakjy","Chanay, Jeffrey A Esq",\
	   "4 B Blue Ridge Blvd","Brighton","Livingston","MI","48116","810-292-9388","810-374-9840","josephine_darakjy@darakjy.org","http://www.chanayjeffreyaesq.com")
rec3 = ("Art","Venere","Chemel, James L Cpa","8 W Cerritos Ave\
	   #54","Bridgeport","Gloucester","NJ","08014","856-636-8749","856-264-4130","art@venere.org","http://www.chemeljameslcpa.com")
records = [rec1, rec2, rec3]

try:
    cursor = connection.cursor()
    cursor.executemany(sql, records)
    connection.commit()
    print('Wrote 3 records into person table')
    cursor.close()
except Exception as e:
    print("Error occurred while writing records:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f77ef51c4c0>
Wrote 3 records into person table