#### 1) Download dataset and create college database in MySQL 8.0

In [ ]:
%env INSTANCE=my

In [ ]:
!gsutil cp gs://cs327e-open-access/mysql_college.zip .

In [ ]:
!unzip mysql_college.zip

In [ ]:
!mysql < /home/jupyter/snippets/create_tables.sql

In [ ]:
!mysql college -e "show tables"

#### 2) View the schema for each table (Class, Student, Instructor, Teaches)

In [ ]:
!mysql college -e "desc Class"

In [ ]:
!mysql college -e "desc Instructor"

In [ ]:
!mysql college -e "desc Student"

In [ ]:
!mysql college -e "desc Teaches"

#### 3) Load the data into each table

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/class.csv --database=college --table=Class --quiet

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/instructor.csv --database=college --table=Instructor --quiet

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/student.csv --database=college --table=Student --quiet

In [ ]:
!gcloud sql import csv $INSTANCE gs://cs327e-open-access/mysql_college/teaches.csv --database=college --table=Teaches --quiet

#### 4) Check how many records are in each table

In [ ]:
!mysql college -e "select count(*) from Class"

In [ ]:
!mysql college -e "select count(*) from Student"

In [ ]:
!mysql college -e "select count(*) from Instructor"

In [ ]:
!mysql college -e "select count(*) from Teaches"

#### 5) Sample a few records from each table

In [ ]:
!mysql college -e "select * from Student"

In [ ]:
!mysql college -e "select * from Class order by sid"

In [ ]:
!mysql college -e "select * from Instructor"

In [ ]:
!mysql college -e "select * from Teaches"

#### Prompt 1: Delete column header record from each table (Teaches, Instructor, Class, Student)
##### For example: `!mysql college -e "delete from Teaches where tid = 'tid'"`

#### Prompt 2: Create Primary Keys on tables. 
##### Ideally, each table should have a Primary Key that uniquely identified each record. 
##### For example: `!mysql college -e "alter table Student add primary key (sid)"`

#### Prompt 3: Create the Foreign Keys between the tables
##### Find as many Foreign Keys as you can. 
##### For example: `!mysql college -e "alter table Teaches add constraint foreign key (tid) references Instructor (tid)"`

##### Note: You can verify that a Foreign Key exists on the Teaches table by running: `!mysql college -e "show create table Teaches"`

#### Prompt 4: Write a SQL statement that tests the presence of a Foreign Key on the Teaches table