#### Final Project, Milestone 2
###### Before running, replace the IP address below with your Trino VM's internal IP. Do not change the port number. 
###### Before running, start up your MySQL and Postgres Cloud SQL instances and make sure they are up before you try to connect to these databases.

In [1]:
URL="http://10.128.0.5:8080"

In [2]:
!trino $URL --execute "show catalogs"

"bigquery"
"mongo"
"mysql"
"postgres"
"system"
"tpch"

##### Querying MySQL through Trino:

In [4]:
!trino $URL --execute "show schemas from mysql"

"college"
"final_project"
"information_schema"
"performance_schema"
"sakila"

In [5]:
!trino $URL --execute "show tables from mysql.college"

"class"
"instructor"
"student"
"teaches"

In [8]:
!trino $URL --execute "select * from mysql.college.student limit 3"

"aprilz      ","April","Lopez","","CUR"
"bzen26      ","Biswa","Zen","","CUR"
"dchen       ","David","Chen","","PRO"

##### Note: If you experience problems retrieving the student records due to a date error, open the mysql shell and update the '0000-00-00' dates as follows:

`update college.Student set dob = null WHERE CAST(dob AS CHAR(10)) = '0000-00-00'"`

##### Querying Postgres through Trino:

In [9]:
!trino $URL --execute "show schemas from postgres"

"college"
"final_project"
"information_schema"
"pagila"
"pg_catalog"
"public"
"shopify"

In [10]:
!trino $URL --execute "show tables from postgres.college"

"class"
"instructor"
"student"
"takes"
"teaches"

In [11]:
!trino $URL --execute "select * from postgres.college.class limit 3"

"CS327E","Elements of Databases","3"
"CS347 ","Data Management","3"
"CS330E","Elements of Software Engineering","3"

##### Querying MongoDB through Trino:

In [13]:
!trino $URL --execute "show schemas from mongo"

"college"
"final_project"
"information_schema"

In [14]:
!trino $URL --execute "show tables from mongo.college"

"takes"

In [15]:
!trino $URL --execute "select * from mongo.college.takes limit 3"

"kev18","CS329E"
"bzen26","CS329E"
"jc","CS327E"

##### Querying BigQuery through Trino:

In [16]:
!trino $URL --execute "show schemas from bigquery"

"college"
"final_project"
"information_schema"
"school_enrollments"
"test"

In [17]:
!trino $URL --execute "show tables from bigquery.college"

"class"
"instructor"
"instructor2"
"student"
"student_copy"
"takes"
"teaches"
"v_enrollments"

In [18]:
!trino $URL --execute "select * from bigquery.college.instructor limit 3"

"neeman","Joe Neeman","Mathematics"
"koch","Hans Koch","Mathematics"
"mueller","Peter Mueller","Mathematics"

##### Putting it all together: joining across MySQL, Postgres, Mongo, and BigQuery

In [23]:
!trino $URL --execute "select * from mysql.college.student s \
join mongo.college.takes ta on s.sid = ta.sid \
join postgres.college.class c on ta.cno = c.cno \
join postgres.college.teaches te on c.cno = te.cno \
join bigquery.college.instructor i on te.tid = i.tid \
order by s.sid \
limit 3"

"bzen26      ","Biswa","Zen","","CUR","bzen26","CS329E","CS329E","Elements of Web Programming","3","mitra","CS329E","mitra","Shyamal Mitra","Computer Science"
"jc          ","James","Cowe","2000-04-22","CUR","jc","CS327E","CS327E","Elements of Databases","3","scohen","CS327E","scohen","Shirley Cohen","Computer Science"
"jerryh      ","Jerry","Hargrove","1999-01-03","CUR","jerryh","CS329E","CS329E","Elements of Web Programming","3","mitra","CS329E","mitra","Shyamal Mitra","Computer Science"